<footer class="container">
    <div class="footer">
        <svg id="logo-72" width="3%" height="3%" viewBox="0 0 53 44" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.2997 0L52.0461 28.6301V44H38.6311V34.1553L17.7522 13.3607L13.415 13.3607L13.415 44H0L0 0L23.2997 0ZM38.6311 15.2694V0L52.0461 0V15.2694L38.6311 15.2694Z" class="ccustom" fill="#fff"></path> </svg>
        <div>
            <span>Company</span>
            <ul>
            <li>
                <a href="/about">About</a>
                <a target="_blank" href="https://developerashish.vercel.app/">Contact</a>
                <a href="/resources">Explore all resources</a>
            </li>
        </ul>
        </div>
        <div>
            <span>Categories</span>
            <ul>
            <li>
                <a href="/resources/Icons">Icons</a>
                <a href="/resources/Illustrations">Illustrations</a>
                <a href="/resources/APIs">APIs</a>
                <a href="/resources/Libraries">Libraries</a>
                <a href="/resources/Frameworks">Frameworks</a>
            </li>
        </ul>
        </div>
        <div class="copyright">
            <p style="display: inline-flex; justify-content: center; align-items: center; gap: .5rem">
                <i class="iconoir-magic-wand"></i> 
                Designed and Developed by Team Black
                </p>
            <p style="display: inline-flex; justify-content: center; align-items: center; gap: .5rem; margin-bottom: 1rem">
            <i class="iconoir-copyright"></i> 2025
                All rights reserved 
            </p><br>
            <span style="font-size: small; padding: .5rem 1.5rem; border: .5px solid #3f3f3f; border-radius: 50px;">
                <a style="color: #8c8c8c;" href="">contribute to this project</a>
            </span>
        </div>
    </div>
</footer>
